/* .calendar-view .calendar-action .active{
    background-color: #5a8dee;
}
.calendar-view .calendar-action .active span,
.calendar-view .calendar-action .active i{
    color: #5a8dee;
} */

.active{
    display: block !important;
}